In [2]:
import numpy as np
import pandas as pd
#from os import path
#from PIL import Image
#from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
import matplotlib.pyplot as plt
#sadness (0), 
#joy (1),
#love (2),
#anger (3),
#fear (4),
#surprise (5)

In [3]:
df = pd.read_csv('text.csv')

In [4]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [5]:
df.head()

                                                text  label
0      i just feel really helpless and heavy hearted      4
1  ive enjoyed being able to slouch about relax a...      0
2  i gave up my internship with the dmrg and am f...      4
3                         i dont know i feel so lost      0
4  i am a kindergarten teacher and i am thoroughl...      4

In [5]:
#sadness_df = df[df['label'] == 0]

In [6]:
#joy_df = df[df['label'] == 1]

In [7]:
#love_df = df[df['label'] == 2]

In [8]:
#anger_df = df[df['label'] == 3]

In [9]:
#fear_df = df[df['label'] == 4]

In [4]:
#surprise_df = df[df['label'] == 5]

In [5]:
'''
 Replace 'review_column' with the actual column name containing the reviews
sadness_text = ' '.join(sadness_df['text'])

# Generate WordCloud
sadness_wordcloud = WordCloud(width=800, height=400, background_color='white').generate(sadness_text)

# Display WordCloud
plt.figure(figsize=(10, 5))
plt.imshow(sadness_wordcloud, interpolation='bilinear')
plt.axis('off')
plt.show()
'''

"\n Replace 'review_column' with the actual column name containing the reviews\nsadness_text = ' '.join(sadness_df['text'])\n\n# Generate WordCloud\nsadness_wordcloud = WordCloud(width=800, height=400, background_color='white').generate(sadness_text)\n\n# Display WordCloud\nplt.figure(figsize=(10, 5))\nplt.imshow(sadness_wordcloud, interpolation='bilinear')\nplt.axis('off')\nplt.show()\n"

In [6]:
'''# Replace 'review_column' with the actual column name containing the reviews
joy_text = ' '.join(joy_df['text'])

# Generate WordCloud
joy_wordcloud = WordCloud(width=800, height=400, background_color='white').generate(joy_text)

# Display WordCloud
plt.figure(figsize=(10, 5))
plt.imshow(joy_wordcloud, interpolation='bilinear')
plt.axis('off')
plt.show()
'''

"# Replace 'review_column' with the actual column name containing the reviews\njoy_text = ' '.join(joy_df['text'])\n\n# Generate WordCloud\njoy_wordcloud = WordCloud(width=800, height=400, background_color='white').generate(joy_text)\n\n# Display WordCloud\nplt.figure(figsize=(10, 5))\nplt.imshow(joy_wordcloud, interpolation='bilinear')\nplt.axis('off')\nplt.show()\n"

In [8]:
'''# Replace 'review_column' with the actual column name containing the reviews
text = ' '.join(df['text'])

# Generate WordCloud
wordcloud = WordCloud(width=800, height=400, background_color='white').generate(text)

# Display WordCloud
plt.figure(figsize=(10, 5))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis('off')
plt.show()
'''

"# Replace 'review_column' with the actual column name containing the reviews\ntext = ' '.join(df['text'])\n\n# Generate WordCloud\nwordcloud = WordCloud(width=800, height=400, background_color='white').generate(text)\n\n# Display WordCloud\nplt.figure(figsize=(10, 5))\nplt.imshow(wordcloud, interpolation='bilinear')\nplt.axis('off')\nplt.show()\n"

"# Replace 'review_column' with the actual column name containing the reviews\ntext = ' '.join(df['text'])\n\n# Generate WordCloud\nwordcloud = WordCloud(width=800, height=400, background_color='white').generate(text)\n\n# Display WordCloud\nplt.figure(figsize=(10, 5))\nplt.imshow(wordcloud, interpolation='bilinear')\nplt.axis('off')\nplt.show()\n"